<%- include('../partials/header') %>

<section id="show-page">
  <div>name: </div>
  <div><%= fighter.name %></div>
  <div>Upcoming Fight </div>
  <div><%= fighter.upcomingFight %></div>
  <div>Rating: </div>
  <div><%= fighter.rating %></div>
  <div> Wins-Losses: </div>
  <div><%= fighter.wins %> - <%= fighter.losses %></div>
 <div><a href="/fighters/edit/<%=fighter._id%>">update</a></div>
</section>
<%- include('../partials/footer') %>


